.card-1 {
  background-image: url('https://assets.ccbp.in/frontend/react-js/reusable-banners-card-1-bg.png');
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.card-2 {
  display: flex;
  justify-content: flex-end;
  background-image: url('https://assets.ccbp.in/frontend/react-js/reusable-banners-card-2-bg.png');
  background-size: cover;
}

.card-3 {
  display: flex;
  justify-content: center;
  text-align: center;
  background-image: url('https://assets.ccbp.in/frontend/react-js/reusable-banners-card-3-bg.png');
  background-size: cover;
}

.reusable-banner-card {
  border: 1px solid #cbced2;
  border-radius: 16px;
  padding: 18px;
  margin: 18px;
}

.main-heading {
  color: #326a9d;
  font-family: 'Roboto';
  font-size: 32px;
}

.desc {
  color: #64748b;
  font-family: 'Roboto';
  font-size: 24px;
}

.show-more-btn {
  color: #326a9d;
  border: 2px solid #326a9d;
  font-size: 18px;
  padding: 8px;
  width: 120px;
  border-radius: 8px;
}
